In [ ]:
import psycopg2 as ps
import pandas as pd
import os
import sys
from dotenv import load_dotenv

load_dotenv() # take environment variables from .env.

def connect():
    """Connect to database"""
    conn = None
    try:
        print("Connecting… %s", os.environ['DB_PATH'])
        conn = ps.connect(
                   host=os.environ['DB_PATH'],
                   database=os.environ['DB_NAME'],
                   user=os.environ['DB_USERNAME'],
                   password=os.environ['DB_PASSWORD'])
    except (Exception, ps.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("All good, Connection successful!")
    return conn

def sql_to_dataframe(conn, query, column_names):
    """
    Import data from a PostgreSQL database using a SELECT query 
    """
    cursor = conn.cursor()
    try:
        cursor.execute(query)
        # The execute returns a list of tuples:
        tuples_list = cursor.fetchall()
        cursor.close()
        # Now we need to transform the list into a pandas DataFrame:
        df = pd.DataFrame(tuples_list, columns=column_names)
        return df
    except (Exception, ps.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1

In [14]:
query = """ 
            SELECT userid, firstname, lastname FROM usr.users
        """
# creating a list with columns names to pass into the function
column_names = ['userid', 'firstname', 'lastname']
# opening the connection
conn = connect()
# loading our dataframe
df = sql_to_dataframe(conn, query, column_names)
# closing the connection
conn.close()
# Let’s see if we loaded the df successfully
df.head()

Connecting… %s sneakerpark.cfnu41j9ppuo.us-east-1.rds.amazonaws.com
All good, Connection successful!

   userid firstname  lastname
0   80527   Emerson      Wire
1   16548     Tandy      Wire
2   42322     Heide  Wiedeman
3   83287   Jacalyn   Whobrey
4    1903      Mika      Wada

In [18]:
import pandas.io.sql as psql

connection = connect()
dataframe = psql.read_sql_query('SELECT * FROM usr.users', connection)
dataframe.head()

Connecting… %s sneakerpark.cfnu41j9ppuo.us-east-1.rds.amazonaws.com
All good, Connection successful!

/var/folders/5y/xw8s93wn39x3mt8gmdsjnm7m0000gn/T/ipykernel_5855/493387137.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = psql.read_sql_query('SELECT * FROM usr.users', connection)

,userid,firstname,lastname,email,address,zipcode
0,80527,Emerson,Wire,emerson.wire@netscape.com,2 Harris PIace,13835
1,16548,Tandy,Wire,tandy.wire@gmail.com,106 Garden Square,67353
2,42322,Heide,Wiedeman,heide.wiedeman@gmail.com,5947 Aultmore Drive,87652
3,83287,Jacalyn,Whobrey,jacalyn.whobrey@netscape.com,591 Robert Burns Avenue,08035
4,1903,Mika,Wada,mika.wada@fakeemail.com,35 Hampton Green Loop,14063

In [3]:
import os
from dotenv import load_dotenv

load_dotenv()

def db_engine():
    host = os.environ.get("DB_PATH")
    port = os.environ.get("DB_PORT")
    user = os.environ.get("DB_USERNAME")
    password = os.environ.get("DB_PASSWORD")
    db = os.environ.get("DB_NAME")
    print(f"postgresql://{user}:***@{host}:{port}/{db}")
    return sqlalchemy.create_engine(f"postgresql://{user}:{password}@{host}:{port}/{db}")

In [4]:
engine = db_engine()

postgresql://padmin:***@sneakerpark.cfnu41j9ppuo.us-east-1.rds.amazonaws.com:5432/postgres

In [5]:
import sqlalchemy
import pandas.io.sql as psql

engine = db_engine()
dataframe = psql.read_sql_query('SELECT * FROM usr.users', engine)
dataframe.head()

postgresql://padmin:***@sneakerpark.cfnu41j9ppuo.us-east-1.rds.amazonaws.com:5432/postgres

,userid,firstname,lastname,email,address,zipcode
0,80527,Emerson,Wire,emerson.wire@netscape.com,2 Harris PIace,13835
1,16548,Tandy,Wire,tandy.wire@gmail.com,106 Garden Square,67353
2,42322,Heide,Wiedeman,heide.wiedeman@gmail.com,5947 Aultmore Drive,87652
3,83287,Jacalyn,Whobrey,jacalyn.whobrey@netscape.com,591 Robert Burns Avenue,08035
4,1903,Mika,Wada,mika.wada@fakeemail.com,35 Hampton Green Loop,14063